/*START Breadcrumbs----------------------------------------*/
ul.breadcrumbs{
  padding: 0px;
  margin-bottom: 25px;
  text-transform: uppercase;
  display: none;
  li{
    display: inline-block;
    margin-right: 10px;
    strong{
        font-weight: unset;
        font-size: 12.5px;
        margin-bottom:0;
        @include font1;
        color:$light-principal;
        font-weight: 700;
      }
    &.separator{
      color:transparent;
      font-size: 0px;
      &::after{
        content:"\f054";
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        font-size-adjust: none;
        font-stretch: normal;
        font-feature-settings: normal;
        font-language-override: normal;
        font-kerning: auto;
        font-synthesis: weight style;
        font-variant: normal;
        font-size: inherit;
        text-rendering: auto;
        font-size: 0.9rem;
        color:$text;
      }
    }
    a{
      color:$text;
      font-size: 12.5px;
      font-weight: unset;
      text-decoration: none;
      margin-bottom: 0;
      @include font1;
      &:hover{
        text-decoration: underline;
      }
    }
    &.last-child{
      color:$principal;
    }
  }
}

@include mediaqueries(1440max) {
  
}
@include mediaqueries(1370max) {
  
}
@include mediaqueries(1200max) {
  
}
@include mediaqueries(991max) {
  
}
@include mediaqueries(767max) {
  
}
@include mediaqueries(480max) {
  
}
@include mediaqueries(320max) {
  
}
/*END Breadcrumbs----------------------------------------*/