//Variables ColorS

$principal:#073b53;  // BLUE
// $light-principal: #002951;
$light-principal:lighten($principal, 5%);
$dark-principal:darken($principal, 10%);

$secondary:#dc2b35;  // RED
$light-secondary:lighten($secondary, 5%);
$dark-secondary:darken($secondary, 10%);
// $dark-secondary: #691c40; //WINE

$tertiary: #ffdf69; //YELLOW
// $light-tertiary:lighten($tertiary, 5%);
$light-tertiary: #4098d0;
$dark-tertiary:darken($tertiary, 10%);
// $dark-tertiary:#481663; // purple

$cuaternary: #aeaeae; // LIGHT gay
$light-cuaternary:lighten($cuaternary, 5%);
$dark-cuaternary:darken($cuaternary, 10%);

$text:#0c0e21; // grey-dark
$dark-text:#282828; //black
$light-text:#ffffff; // white

