.events-widget{
  position: relative;

  .content-wrap{
    .single-box{
      margin-bottom: 40px;
      display: flex;
      background: linear-gradient(to left, transparentize($tertiary, 1) 0%, transparent 30%);
      transition: 0.4s;
      &:last-child{
        margin-bottom: 0;
      }
      .img-wrap{
        width: 141px;
        height: 141px;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(to right, $principal, transparent);
          mix-blend-mode: multiply;
        }
        a{
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          color: $light-text;
          position: relative;
          z-index: 4;
          .date{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            .day{
              font-size: 40px;
              line-height: 40px;
              font-weight: 700;
            }
            .month{
              font-size: 25px;
              line-height: 25px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
          &:hover{
            text-decoration: none;
          }
        }
      }
      .info-wrap{
        flex-basis: calc(100% - 141px);
        padding: 10px 60px 10px 30px;
        h3{
          color: $principal;
          font-size: 25px;
          font-weight: 700;
          line-height: 1.3;
          a{
            color: $principal;
            font-size: 25px;
            font-weight: 700;
            line-height: 1.3;
            transition: 0.4s;
            &:hover{
              text-decoration: none;
              color: $secondary;
            }
          }
        }
        span{
          font-size: 18px;
          color: $text;
          font-weight: 700;
          padding: 10px;
          &:first-child{
            padding-left: 0;
          }
          time{
            padding-right: 15px;
            border-right: 1px solid $text;
          }
        }
        p{
          color: $text;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 0;
        }
      }
      &:hover{
        background: linear-gradient(to left, transparentize($tertiary, 0.7) 0%, transparent 30%);

      }
    }
  }

//   #event-slider{
//     padding: 50px 0;

//     .carousel-inner{
//       padding: 30px 0;
//       &:before{
//         content: "";
//         display: block;
//         background: #dddddd;
//         width: 5px;
//         height: 100%;
//         border-radius: 5px;
//         position: absolute;
//         top: 50%;
//         left: 45px;
//         @include center(-50%, -50%);
//       }
//       .item{
//         width: 100%;

//         .content-wrap{
//           display: flex;
//           flex-wrap: wrap;
//           .single-box{
//             display: flex;
//             align-items: center;
//             margin-bottom: 50px;
//             &:last-child{
//               margin-bottom: 0;
//             }
//             &:nth-child(2){
//               .date-wrap{
//                 a{
//                   background: $tertiary;
//                   &:hover{
//                     color: $tertiary;
//                   }
//                 }
//               }
//               .info-wrap{
//                 h3{
//                   a{
//                     &:hover{
//                       color: $tertiary;
//                     }
//                   }
//                 }
//               }
//             }
//             &:nth-child(3){
//               .date-wrap{
//                 a{
//                   background: $cuaternary;
//                   &:hover{
//                     color: $cuaternary;
//                   }
//                 }
//               }
//               .info-wrap{
//                 h3{
//                   a{
//                     &:hover{
//                       color: $cuaternary;
//                     }
//                   }
//                 }
//               }
//             }
//             &:nth-child(4){
//               .date-wrap{
//                 a{
//                   background: $secondary;
//                   &:hover{
//                     color: $secondary;
//                   }
//                 }
//               }
//               .info-wrap{
//                 h3{
//                   a{
//                     &:hover{
//                       color: $secondary;
//                     }
//                   }
//                 }
//               }
//             }
//             .date-wrap{
//               a{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 flex-direction: column;
//                 width: 87px;
//                 height: 87px;
//                 border-radius: 50%;
//                 background: $principal;
//                 color: $light-text;
//                 box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
//                 @include font1;
//                 transition: 0.6s;
//                 border: 0px solid transparent;
//                 .day{
//                   font-size: 40px;
//                   line-height: 40px;
//                   font-weight: 700;
//                 }
//                 .month{
//                   font-weight: 500;
//                   text-transform: uppercase;
//                   font-size: 18px;
//                 }
//                 &:hover{
//                   color: $principal;
//                   border: 43px solid $light-text;
//                   text-decoration: none;
//                 }
//               }
//             }
//             .info-wrap{
//               padding: 20px 15px;
//               h3{
//                 margin-bottom: 5px;
//                 letter-spacing: 2px;
//                 a{
//                   font-size: 21px;
//                   line-height: 21px;
//                   color: $text;
//                   letter-spacing: 2px;
//                   font-weight: 700;
//                   &:hover{
//                     color: $principal;
//                   }
//                 }
//               }
//               time{
//                 text-transform: uppercase;
//                 font-weight: 600;
//                 font-size: 14px;
//                 letter-spacing: 2px;
//                 color: #444444;
//                 span{
//                   color: $principal;
//                 }
//                 i{
//                   color: #626262;
//                   font-size: 17px;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//     .carousel-indicators{
//       display: none;
//     }
//     .carousel-control{
//      opacity: 1;
//      transition:0.4s;
//      display: block;
//      span{
//        background: $light-text url("../images/arrow-btn.png") no-repeat;
//        background-position: 50% 50%;
//        background-size: auto;
//        border-radius: 50%;
//        height: 25px;
//        text-align: center;
//        text-shadow: none;
//        width: 25px;
//        transition: 0.4s;
//        border: 4px solid $principal;
//        &:before{
//          @include center(-50%,-55%);
//          display: none;
//          left:50%;
//          position:absolute;
//          top:50%;
//        }      
//        &:hover{
//         background: $light-text url("../images/arrow-btn-h.png") no-repeat;
//          background-position: 50% 50%;
//          background-size: auto;
//        }
//      }
//      &.left,&.right{
//        background: transparent;
//        width: 50px;
//        height: 50px;
//        left: 20px;
//        padding: 12px;
//      }    
//      &.right {
//       bottom: 0;
//       top: auto;
//      }
//      &.right span{
//        @include rotate(180deg); 
//      }  
//    }
//   }
//   .btn-vertical-slider{ margin-left:35px; cursor:pointer;}
//   a {  cursor:pointer;}
//   .carousel.vertical .carousel-inner .item {
//   -webkit-transition: 0.6s ease-in-out top;
//      -moz-transition: 0.6s ease-in-out top;
//       -ms-transition: 0.6s ease-in-out top;
//        -o-transition: 0.6s ease-in-out top;
//           transition: 0.6s ease-in-out top;
//   }
//    .carousel.vertical .active {
//   top: 0;
//   }
//    .carousel.vertical .next {
//   top: 100%;
//   }
//   .carousel.vertical .prev {
//   top: -100%;
//   }
//    .carousel.vertical .next.left,
// .carousel.vertical .prev.right {
//   top: 0;
//   }
//   .carousel.vertical .active.left {
//   top: -100%;
//   }
//   .carousel.vertical .active.right {
//   top: 100%;
//   }
//   .carousel.vertical .item {
//     left: 0;
//   }
}
  
/*END TRIBE EVENTS------------------------------------*/

@include mediaqueries(1440max) {
  
}
@include mediaqueries(1370max) {
  
}
@include mediaqueries(1200max) {
  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul {
    width: 940px;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-title-h5 a {
    //font-size: 18px;
  }



  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-title-h5{
     width: 65%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li ul.ee-event-datetimes-ul {
    width: 65%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li > p{
    width: 65%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-img-dv {
    width: 25%;
    padding-bottom: calc(25% - 8px);
  }

}
@include mediaqueries(991max) {
  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul {
    width: 720px;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li {
    width: calc(100% - 15px);
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-title-h5{
     width: 65%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li ul.ee-event-datetimes-ul {
    width: 65%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li > p{
    width: 65%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-img-dv {
    width: 25%;
    padding-bottom: calc(25% - 8px);
  }
  .events-widget #event-slider {
    width: 50%;
    margin: 0 auto;
  }
}
@include mediaqueries(767max) {
  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul {
    width: 100%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li {
    text-align: center;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-img-dv {
    width: 50%;
    padding-bottom: calc(50% - 8px);
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-title-h5 {
    float: none;
    width: 100%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li .ee-upcoming-events-widget-img-dv {
    display: block;
    float: none;
    margin: 25px auto;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li ul.ee-event-datetimes-ul {
    float: none;
    width: 100%;
  }

  .events-widget .widget_ee-upcoming-events-widget ul.ee-upcoming-events-widget-ul li.ee-upcoming-events-widget-li > p {
    float: none;
    width: 100%;
  }
  .events-widget #event-slider {
    width: 100%;
  }
  .events-widget .content-wrap .single-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .events-widget .content-wrap .single-box .info-wrap {
    flex-basis: 100%;
    padding: 25px 10px;
  }
}
@include mediaqueries(480max) {
 
}
@include mediaqueries(320max) {

}