.tribe-events-single{
  h1.tribe-events-single-event-title{
    font-size: 45px;
  }
  .tribe-events-schedule{
    margin-top: 0;
    h2{
      color: $text;
      font-size: 25px;
    }
  }
  .tribe_events{
    .tribe-events-cal-links{
      a.tribe-events-button{
        background: $secondary !important;
        transition: 0.4s;
        &:hover{
          background: $principal !important;
        }
      }
    }
    .tribe-events-single-section{
      .tribe-events-meta-group{
        font-size: 18px;
        padding: 30px;
        dl{
          dd{
            abbr.tribe-events-abbr{
              text-decoration: none ;
            }
          }
        }
      }
    }
  }
}

.tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a {
    font-size: 14px;
}

.gform_confirmation_wrapper{
  .gform_confirmation_message{
    font-size: 20px;
    //@include font6;
    font-family: 'ProximaNova-Regular', sans-serif !important;
  }
}

.interior, .interior.search-page{
    .searchandfilter{
      margin-bottom: 25px;
      ul{
        padding-left: 0;
        list-style: none;
        -webkit-align-items: center;
        -webkit-flex-flow: row wrap;
        -webkit-justify-content: start;
        align-items: center;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;    
        flex-direction: row;
        float: none;  
        justify-content: start;
        align-items: center;
        li{
          margin-bottom: 25px;
          display: inline-block;
          width: auto;
          margin-right: 15px;
        }
      }
    }
  .content-search{
    ul.search-list-result{
      padding-left: 0;
      list-style: none;
      -webkit-align-items: center;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: space-between;
      align-items: center;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;    
      flex-direction: row;
      float: none;  
      justify-content: space-between;
      align-items: center;
      li{
        margin-bottom: 25px;
        display: block;
        width: 100%;
        h3{
          a{
            color: $principal !important;
          }
        }
        .read-more{
          a{
            color: $tertiary;
            font-weight: 700;
          }
        }
      }
    }
  }
}


#gtranslate_wrapper{
  background: $light-text;
  padding: 5px 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  a.glink{
    transition: 0.4s;
    &:hover{
      text-decoration: none;
      span{
        color: $principal !important;
      }
    }
    img{
      margin-right: 5px;
    }
    span{
      transition: 0.4s;
      &:hover{
        text-decoration: none;
        color: $principal !important;
      }
      
        font-weight: 500 !important;
        @include font2;
        color: $secondary !important;
        margin-right: 5px !important;
      
      &:last-child{
        font-size: 12px !important;
      }
    }
    
  }
}

.tribe-events-list .type-tribe_events h2 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.tribe-events-loop .tribe-events-event-meta {
    font-size: 18px !important;
}

.tribe-events-single .tribe-events-schedule h2 {
  margin: 0 !important;
}
.tribe-events-single ul.tribe-related-events li .tribe-related-event-info span, #tribe-events-content a{
  //font-size: 25px !important;
}
.tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*="tribe-events-daynum-"]{
  background-color: transparent !important;
}

#tribe-mobile-container{
  h3.tribe-mobile-day-heading{
    font-size: 22px !important;
    margin-top: 25px !important;
  }
}
#tribe-mobile-container .type-tribe_events {
    padding: 0px 0 16px !important;
    .type-tribe_events h4 {
      font-size: 22px !important;
      margin: 0 0 15px !important;
    }
}

#tribe-mobile-container .type-tribe_events{
  .tribe-events-event-body{
    .tribe-events-event-schedule-details, .tribe-event-description{
      font-size: 16px !important;
      p{
        font-size: 16px !important;
      }
    }
  }
}

#tribe-events-content table.tribe-events-calendar {
    width: 99% !important;
}

.tribe-events-sub-nav li a {
  background: transparent;
  color: $text !important;
}

.woocommerce{
  .woocommerce-temp{
    ul.products{
      li.product {
        a.woocommerce-loop-product__link{
          img{

          }
          h2.woocommerce-loop-product__title{
            margin: 0 !important;
          }
        }
        a.button {
          background: $secondary;
        }
      }
    }
    .product-type-simple{
      .woocommerce-product-gallery{
        img{

        }
      }
      .summary{
        h1.product_title{
          margin-bottom: 0;
        }
        .price{

        }
        .woocommerce-product-details__short-description{

        }
        form.cart{
          .quantity{
            position: relative;
            input {
              width: 45px !important;
              height: 42px;
              line-height: 1.65;
              float: left;
              display: block;
              padding: 0;
              margin: 0;
              padding-right: 20px;
              border: 1px solid $secondary;
              &:focus{
                outline: none;
              }
            }
          }
          button.single_add_to_cart_button{
            background: $secondary;
            border-radius: 4px;
            padding: 15px;
            border: none;
            outline: none;
            height: auto;
            transition: 0.4s;
            &:hover{
              background: $dark-secondary;
            }
          }
        }
      }
    }
    .woocommerce-pagination{
      ul.page-numbers{
        border: none;
        li{
          border-radius: 50%;
          margin: 0 5px;
          .page-numbers{
            padding: 15px;min-width: inherit;
            width: 50px;
            height: 50px;
            border: 1px solid $principal;
            border-radius: 50%;
            &.current{
              background: $principal;
              color: $light-text;
            }
          }
        }
      }
    }
  }
  form.woocommerce-cart-form{
    table.shop_table{
      thead{
        tr{

        }
      }
      tbody{
        tr.woocommerce-cart-form__cart-item{
          td.product-quantity{
            .quantity{
              position: relative;
              .quantity input {
                width: 45px !important;
                height: 42px;
                line-height: 1.65;
                float: left;
                display: block;
                padding: 0;
                margin: 0;
                padding-right: 20px;
                border: 1px solid $principal;
                &:focus{
                  outline: none;
                }
              }
            }
          }
        }
        tr{
          td.actions{
            input.button{
              background: $secondary;
              border-radius: 4px;
              padding: 15px;
              border: none;
              outline: none;
              height: auto;
              transition: 0.4s;
              &:hover{
                background: $dark-secondary;
              }
            }
          }
        }
      }
    }
  }
  .cart-collaterals{
    .cart_totals{
      h2{

      }
      table.shop_table{

      }
      .wc-proceed-to-checkout{
        a.checkout-button{
          background: $secondary;
          border-radius: 4px;
          padding: 15px;
          border: none;
          outline: none;
          height: auto;
          transition: 0.4s;
          &:hover{
            background: $dark-secondary;
          }
        }
      }
    }
  }
  .woocommerce-info{
    border-color: $secondary;
    &:before{
      color: $secondary;
    }
    a.showcoupon, .showlogin{
      color: $secondary;
    } 
  }
  form.checkout{
    span.select2 {
      .selection{
        .select2-selection{
          height: auto;
          .select2-selection__rendered{
            font-size: 18px;
            padding: 5px 10px;
            background-image: url("../images/select-arrow.jpg");
            background-size: auto 100%;
            background-position: right center;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-right: 35px !important;
            outline: none;
          }
          .select2-selection__arrow{
            display: none;
          }
        }
      }
    }

    .woocommerce-account-fields{
      .form-row{
        .woocommerce-form__label{
          .input-checkbox{
            position: relative;
          }
        }
      }
    }
    .woocommerce-checkout-review-order{
      .form-row.place-order{
        input.button.alt{
          background: $secondary;
          border-radius: 4px;
          padding: 15px;
          border: none;
          outline: none;
          height: auto;
          transition: 0.4s;
          &:hover{
            background: $dark-secondary;
          }
        }
      }
    }
  }
}

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px !important;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  border: 1px solid $principal;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid $principal;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid $principal !important;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.tawcvs-swatches .swatch-color.selected::before{
  content: "\f0da"!important ;
  box-sizing: border-box!important ;
  font: normal normal normal 14px/1 FontAwesome!important ;
  font-size: inherit!important ;
  text-rendering: auto!important ;
  transition: 0.4s;
  width: 12px!important;
  height: 20px!important;
  position: absolute!important;
  left: 50%!important;
  top: 50%!important;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) !important;
  -moz-transform: translate(-50%, -50%) rotate(45deg) !important;
  -ms-transform: translate(-50%, -50%)  rotate(45deg)!important;
  transform: translate(-50%, -50%) rotate(45deg) !important;
  @include center(-50%, -50%);
}



@include mediaqueries(1200max) {
 
}
@include mediaqueries(991max) {
  
}
@include mediaqueries(767max) {
 
}
@include mediaqueries(480max) {
  .interior .searchandfilter ul li{
    margin-right: 0;
    .postform{
      width: 100%;
    }
  }
}