/*START footer--------------------------------------------------*/
footer.footer{
  text-align: center;
  position: relative;
  background-attachment: fixed;
  border-top: 1px solid #a7a7a7;

  &:before{
    background: linear-gradient(to top, #0d0f22 30%, transparent);
    opacity: 1;
  }

  .container, .container-fluid{
    transition: 0.6s;
    position: relative;
    z-index: 5;
  }
  
  h2,h3,h4{
    margin-top: 0;
  }

  ul.social{      
    display: inline-block;
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
     li{
      display: inline-block;
      font-size: 18px;
      margin: 0px !important;
      a{
        display: inherit;
        border-radius: 50%;
        color: $light-text;
        border: 2px solid $light-text;
        background: transparent;
        height: 40px;
        margin:0 4px;
        position: relative;
        transition:0.4s;
        width: 40px;
        i{
          @include center(-50%,-50%);
          font-size: 20px;
          left:50%;
          position: absolute;
          top:50%;
        } 
        &:hover{
          color: #00152a;
          background: $light-text;
        }             
      }            
    } 
  } 

  address,p a, p, h3 {
    display: block;
    @include font2;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: $light-text;
    margin-bottom: 5px;
    span{
      font-weight: 700;
      color: $light-text;
      font-size: 19px;
    }
    i{
      //color: $secondary;
      //margin-right: 15px;
      //display: none;
    }
  }
  h3{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
    text-align: left;
    margin-top: 0;
  }

  address{
    // display: grid;
    // grid-template-columns: auto 1fr;
    // align-items: flex-start;
    // grid-gap: 10px;
  }

  .footer-menu{
    list-style: none;
    padding: 0;
    margin-top: 50px;
    justify-content: flex-start;
    grid-template-columns: repeat(3,auto);
    li{
      a{
        font-weight: 700;
        color: $light-text;
        @include font1;
        font-size: 18px;
      }
    }
  }

  .btn-footer{
    font-weight: 700;
    display: block;
    margin-top: 50px;
  }

  .img-wrap{
    height: 80px;
    background-size: contain;
    a{
      display: block;
      width: 100%;  
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .sponsor-wrap{
    .img-wrap{
      width: 80px;
      height: 80px;
      border-radius: 50px;
      margin-left: auto;
    }
  }

  .footer-logo{
    .img-wrap{
      background-position: left;
    }
  }
  

  .big-single-box{
    padding: 50px 25px 40px;
    &:first-child{
      border-right: 2px solid $light-text;
    }
  }

  .footer-top{     
    background: transparent; 
    color:$light-text;
    padding: 50px 0;
    overflow: hidden;
    
    .content-wrap{
      display: grid;
      grid-template-columns: 160px 1fr auto;
      justify-content: space-between;
      align-items: flex-start;
      grid-gap: 60px;
      .single-box{
        text-align: left;
        &:nth-child(3){
          text-align: right;
          align-self: center;
          .social{
            margin-bottom: 50px;
          }
        }
      }
    }

    .info-wrap{
      padding: 130px 0 0px;

      h3{
        font-size: 28px;
        @include font2;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 0;
      }
    }
    
  }

  .footer-middle{
    background: transparent url("../images/pattern-red.png");
    background-color: $dark-secondary;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 35px 0;

    .content-wrap{
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 30px;
      width: 90%;
      margin: 0 auto;
    }

    h3{
      color: $light-text;
      font-size: 30px;
      @include font3;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
  .footer-bottom{
    background: #0d0f22;
     .bottom-content{
      padding: 20px 0;
      //border-top: 1px solid $cuaternary;
      
      .content-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .single-box{
          &:nth-child(1){
            // margin-left: auto;
            // padding-right: 30px;
            // border-right: 1px solid #e4e4e4;
          }
          &:nth-child(2){
            // margin-right: auto;
            // padding-left: 30px;
          }
        }

        .copy-r, .elevation{
          opacity: 1;
          p, p a{
            color: $light-text;
            @include font1;
            font-size: 16px;
            margin-bottom: 0;
          }
        }
        .elevation{
          a, p a, p{
            display: inline-block;
            margin-bottom: 0;
            span{
              color: $light-text;
              font-weight: 700;
              //text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
@include mediaqueries(1440max) {
  
}
@include mediaqueries(1370max) {
  
}
@include mediaqueries(1200max) {
  footer.footer .footer-bottom .bottom-content .content-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 1025px) and (orientation: portrait){
 footer.footer .footer-top .content-wrap{
  grid-template-columns: auto 1fr auto;
 } 
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
 footer.footer .footer-top .content-wrap{
  grid-template-columns: auto 1fr auto;
 } 
}
@include mediaqueries(991max) {
  footer.footer .footer-top .content-wrap {
    grid-template-columns: auto;
    justify-content: center;
  }
  footer.footer .footer-top .content-wrap .single-box {
    text-align: center !important;
  }
  footer.footer .footer-logo .img-wrap {
    background-position: center;
  }
  footer.footer .footer-bottom .bottom-content .content-wrap {
    flex-direction: column;
    .single-box{
      &:first-child{
        margin-bottom: 15px;
      }
    }
  }
  footer.footer .footer-bottom .bottom-content .content-wrap .single-box:nth-child(1) {
    margin-left: 0;
    padding-right: 0;
    border-right: none;
  }

  footer.footer .footer-bottom .bottom-content .content-wrap .single-box:nth-child(2) {
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
  footer.footer h3{
    text-align: center;
  }
  footer.footer .footer-middle .content-wrap {
    grid-template-columns: auto;
  }
  footer.footer address {
    display: block;
    text-align: center;
  }

  footer.footer .big-content-wrap{
    grid-template-columns: 1fr;
  }
  footer.footer .big-single-box:first-child {
    border-right: none;
  }
  footer.footer .big-single-box {
    padding: 25px 0;
  }
  footer.footer .footer-top .info-wrap {
    padding: 60px 0 0px;
  }
}
@include mediaqueries(480max) {
  footer.footer .footer-top .content-wrap {
    grid-gap: 20px;
  }
  footer.footer .btn-footer {
    margin-top: 20px;
  }
  footer.footer address, footer.footer p a, footer.footer p, footer.footer h3{
    font-size: 14px;
  }
}
@include mediaqueries(320max) {
}



/*END footer------------------------------------------*/