label.gfield_label{
  margin:10px 0 0 0;
}

.default-form-wrap{
  .default-form{
    form{
      .gform_body{
        .gform_fields{
          list-style: none;
          padding: 0;
          li.gfield{
            margin-bottom: 25px;
            label{
              margin-bottom: 15px;
              .gfield_required{
                color: $secondary;
              }
            }
            .ginput_container{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              grid-gap: 30px;
              span{
                display: flex;
                flex-direction: column;
                label{
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.gform_wrapper:not(#gform_wrapper_2) {  
    ul.gform_fields li.gfield{
    .ginput_container_radio{
    /*RADIO Button circular style*/
      ul.gfield_radio{
        list-style: none;
        padding: 0;
        li{
          input {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;          
          }
          input:checked {
            //background: $principal !important;
          }
          [type="radio"]:checked + label,
          [type="radio"]:not(:checked) + label {
            @include font3;
            color: $text;
            cursor: pointer;
            display: inline-block !important;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            margin: 0 auto ;
            padding: 0 0 0 25px!important;
            position: relative;
            vertical-align: middle;
            z-index: 1;
            &::after{
              content: "" ;
              transition: all 0.2s ease;
              -webkit-transition: all 0.2s ease;
              background: $principal;
              border: 4px solid $principal;
              border-radius: 50%;
              height: 15px;
              top: calc(50% - 7.5px);
              left: 0;
              position: absolute;
              width: 15px;
              z-index: -1;
            }        
          }
          [type="radio"]:checked,
          [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
            margin: 0!important; 
          }
          [type="radio"]:not(:checked) + label:after {
            content: "" ;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -webkit-transform: scale(1);
            transform: scale(1);
            border: 4px solid #939382;
            background: transparent;
          }      
        }
      }
    }
  }
}

.interior .gform_confirmation_wrapper{
  font-size: 18px !important;  
}
 .gform_confirmation_wrapper {
    .gform_confirmation_message{
      font-size: 18px ;
    }
  }



 @include mediaqueries(1440max) {
   
}
@include mediaqueries(1370max) {
  
}
@include mediaqueries(1200max) {
 
}
@include mediaqueries(1024max) {
 
}
@include mediaqueries(991max) {

} 
@include mediaqueries(767max) {
  .default-form-wrap .default-form form .gform_body .gform_fields li.gfield .ginput_container {
    grid-template-columns: auto;
  }
}
@include mediaqueries(480max) {

}
@include mediaqueries(360max) {
}
@include mediaqueries(320max) {
}
  