/*STRART INTERIOR PAGE------------------------------------------------------------------------------------------*/

/*START Interior Top (BANNER)--------------------------------------------------*/
.interior-top{
  background: $principal;
  text-align: center;
  min-height: 440px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  // &::before{
  //   content: "";
  //   // background: linear-gradient(to right, #000, transparent);
  //   background-color: #000;
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   left:0;
  //   bottom:0;
  //   top: auto;
  //   opacity: 0.30;
  //   z-index: 1;
  //   mix-blend-mode: normal;
  // }

  &:after{
    content: "";
    background: url("../images/slider-overlay.png");
    background-size: contain;
    background-position: top;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    bottom:0;
    top: auto;
    opacity: 1;
    z-index: 1;
  }

  h1{
    @include font2;
    color: $light-text;
    font-size: 45px;
    line-height: 1.395;
    font-weight: 800;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    position: relative;
    text-transform: none;
    width: 100%;
    z-index: 3;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;

    span{
      display: block;
      font-weight: 400;
    }
  }

  p{
    color: $light-text;
    @include font2;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    text-align: center;
    z-index: 5;
  }

  .link{
    position: relative;
    z-index: 3;
    color: $light-text;
    font-size: 22px;
    @include font2;
    text-transform: uppercase;
    
  }

  .subtitle{
    @include font2;
    color: $light-text;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    margin-top: 0px;
    position: relative;
    text-transform: none;
    width: 100%;
    z-index: 3;
    display: block;

    &:before{
      content: "";
      display: block;
      width: 55px;
      height: 2px;
      background: $secondary;
      display: block;
      position: relative;
      margin: 15px auto;
    }
  }

  &.interior-top-member{
    align-items: flex-end;

    &::before{
      content: "";
      background: linear-gradient(to right, $principal 40%, transparent);
      height: 100%;
      width: 100%;
      position: absolute;
      left:0;
      bottom:0;
      top: auto;
      opacity: 0.7;
      z-index: 1;
    }

    .content-wrap{
      padding-bottom: 50px;
      width: 60%;
      margin: 0 auto;
      h1{
        text-align: center;
        letter-spacing: 3px;
      }
      p{
        text-align: center;
      }
    }
  }

  &.interior-top-projects{
    min-height: 600px;
    &::before{
      content: "";
      background: linear-gradient(to right, $principal 40%, transparent);
      height: 100%;
      width: 100%;
      position: absolute;
      left:0;
      bottom:0;
      top: auto;
      opacity: 0.35;
      z-index: 1;
    }

    .content-wrap{
      width: 60%;
      margin: 0 auto;
      h1{
        text-align: center;
        letter-spacing: 3px;
      }

      p{
        text-align: center;
      }
    }
  }

  &.interior-top-portal{
    min-height: 600px;
    &::before{
      content: "";
      background: linear-gradient(to right, $principal 40%, transparent);
      height: 100%;
      width: 100%;
      position: absolute;
      left:0;
      bottom:0;
      top: auto;
      opacity: 0.35;
      z-index: 1;
    }

    .content-wrap{
      width: 60%;
      margin: 0 auto;
      h1{
        text-align: center;
        letter-spacing: 3px;
      }

      p{
        text-align: center;
      }
    }
  }



  &.interior-top-events{
    min-height: 320px;

    h1{
      font-size: 56px;
    }
  }

  &.interior-top-donate{
    min-height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
      position: absolute;
      height: 100%;
      top: 50%;
      left: 50%;
      @include center(-50%, -50%);
      z-index: 10;
      display: flex;
      align-items: center;
    }

    // h1{
    //   text-align: center;
    //   padding: 30px 0 20px;
    //   display: block;
    //   font-size: 50px;
    //   @include font1;
    //   font-weight: 400;
    //   letter-spacing: 1px;
    //   line-height: 1.4;
    //   text-shadow: 0px 7px 21px rgba(0, 0, 0, 0.7);
    // }

    .logo-wrap{
      height: 80px;
      width: 450px;
      z-index: 5;
      position: absolute;
      bottom: 30px;
      left: 0;
      a{
        width: 100%;
        height: 100%;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-filter:brightness(0%) invert(100%);
           filter:brightness(0%) invert(100%);
      }
    }
    //   &:after{
    //   content: "";
    //   background: url("../images/interior-top-overlay-donate.png") no-repeat;
    //   background-size: cover;
    //   background-position: bottom;             
    //   display: block;
    //   opacity: 1;
    //   height: 100%;
    //   width: 100%;
    //   position: absolute;
    //   top:50%;
    //   left: 50%;
    //   z-index: 2;
    //   @include center(-50%,-50%);
    // } 
  }

  &.interior-top-custom-donate{
    h1{
      text-align: center;
    }
  }
  
}
/*END Interior Top (BANNER)------------------------------------------*/

.interior{
  @include font1;
  background:transparent;
  color: $text;
  font-size: 18px;
  overflow: hidden;
  position: relative;

  &.custom-donate{
    overflow: visible;
    .container{
      //padding-top: 60px;
    }
  }

  .logo-donate-wrap{
    display: block;
    height: 100px;
    a{
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &.gallery-wrap{
    padding: 30px 0;

    .title-wrap{
      margin-bottom: 50px;
      h2{
        text-align: center;
        margin-top: 0 !important;
        color: $principal;
        text-transform: none;
        @include font1;
        font-size: 35px;
      }
    }
    .link{
      margin-top: 50px;
      display: block;
      text-align: center;
    }

    .ug-videoskin-right-thumb .ug-strip-panel{
      background-color: $principal;
    }
    .ug-videoskin-right-thumb .ug-thumb-wrapper.ug-thumb-selected{
      background-color: $light-principal;
    }
    .ug-videoskin-right-thumb .ug-thumb-wrapper{
      background-color: $principal;
      border-bottom: 1px solid $dark-principal;
      //height: auto;

    }
    .ug-videoskin-right-thumb .ug-thumb-inner {
      // padding: 30px 15px;
      // display: grid;
      // grid-template-columns: 100px 1fr;
      // div{
      //   float: none;
      //   padding: 0;
      // }
    }
  }
  
  .category-container{
    .single-box{
      display: flex;
      flex-wrap: wrap;
      h3{
        flex-basis: 100%;
      }
      .image-single-thumb{
        flex-basis: 300px;
        background-size: cover;
        background-position: center;
      }
      .info-single-category{
        flex-basis: 58%;
        margin-left: 25px;
      }
    }
  }

  .gform_confirmation_wrapper {
    .gform_confirmation_message{
      font-size: 18px;
      color: $principal;
      padding-bottom: 25px;
      border-bottom: 1px solid $secondary;
      margin-bottom: 30px;
    }
  }




  .side-direction-left{
    background: transparent;
    padding-bottom: 50px;
    position: relative;
    padding-right: 0px;
    z-index: 3;
    // &::before{
    //   content: "";
    //   background: $light-text;
    //   display: block;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 300%;
    //   z-index: -1;
    // }

    h1, h2, h3, h4, h5, h6{
      &:first-child{
        margin-top: 0 !important;
      }
    }
  }
  .sidebar-color{
    position: relative;
    /*&::before{
      content: "";
      background: url("../images/bg-sidebar.jpg");
      background-size: contain;
      background-position: top; 
      display: block;
      height: 500%;
      position: absolute;
      top: 0;
      left: 0;
      width: 300%;
      z-index: 0;
    }*/
  }
  ul.ul3{
    list-style: none;
    padding: 0;
  }
  .side-direction{
    padding-top: 40px;
  }
  > .container{
    &:last-child{
    }
  }

  img{
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    //width: 100%;
  }


  h1, h2, h3, h4, h5, h6{
    @include font2;
    font-weight: 800;
    color: $principal;
    text-transform: none;
    margin-top: 0;
    display: block;
    a{
      color: $secondary;
      &:hover{
        color: $tertiary;
      }
    }   
  }


  
  h1{
    font-size:45px;
    margin-top: 0;
    margin-bottom: 35px;
  }
  h2{
    line-height: 1.5em !important;
    margin: 1.2em 0 0.6em !important;
    text-align: left ;
    font-size:50px;
  }
  h3{
    font-size:40px;
    margin: 0em 0 0.6em;
  }
  h4{
    font-size:30px;
    margin: 0em 0 0.6em;
  }
  h5{
    font-size:22px;
    margin: 0em 0 0.6em;
  }
  h6{
    font-size:18px;
    margin: 0em 0 0.6em;
  }
  hr{
    border-color: $text !important;
    border-style: dashed none none;
    border-width: 1px 0px 0px;
    margin-bottom: 35px;
    margin-top: 35px;
  }

  p{
    @include font1;
    color: $text;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom:1em; 
  }
  blockquote{
    @include font1;
    background: $principal;
    border-radius: 0;
    border: none;
    color: $light-text;
    font-size:20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom:2em;
    padding: 35px 65px;
    position: relative;
    text-align: center;
    width: 100%;
    &::before {
      content: open-quote;
      color: $secondary;
      @include font1;
      font-weight: 400;
      font-size: 90px;
      line-height: 0;
      display: block;
      position: absolute;
      top: 60px;
      left: 15px;
      height: 90px;
    }
    &::after {
      content: close-quote;
      color: $secondary;
      @include font1;
      font-weight: 400;
      font-size: 90px;
      line-height: 0;
      display: block;
      position: absolute;
      top: 60px;
      right:15px;
      height: 90px;
    }
    a,address,span,time, p{
      color: $light-text;
      strong{
        color: $light-text;
      }
    }
    strong{
      color: $light-text;
    }
  }
  small{
    color: $text;
  }
  p, ul p, ol p, dl p, ol li, ul li{
    a{
      @include font1;
      font-weight: 400;
      color:$secondary;    
      text-decoration: underline;
      transition: 0.3s;
      &:hover{
        text-decoration: none;
        color: $principal;
      }
      &:visited{
        color: $cuaternary;
      }
    }
  }

  dl.list{
    dt{
      @include font1;
      color: $principal !important;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 8px;
      padding-left: 0;
      &.h3{
        font-size: 36px;
      }
      &.h4{
        font-size: 30px;
      }
      &.h5{
        font-size: 28px;
      }
      &.h6{
        font-size: 24px;
      }
    }
    dd{
      @include font1;
      color: $text !important;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 8px;
      padding-left: 15px;
      position: relative;
       &::before{
        content:"";
        border-bottom:4px solid transparent;
        border-left:4px solid $secondary;
        border-top:4px solid transparent;
        display: inline-block;        
        margin-left: 0;
        left: 0;
        margin-right: 5px;
        margin-top: 9px;
        position: absolute;
        width: 6px; height: 6px;
      }
    }
  }

  ol{
   list-style:none;
   counter-reset: my;
  }
  ol > li::before {
    counter-increment: my;
    content: counter(my) "." ;
  }
  ol{
    list-style-type: none;
    margin: 0;
    li{
      line-height: 1.5;
      list-style-type:none; 
      padding-left: 20px;
      @include font1;
      font-size: 18px;
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0 !important;
        display: inline-block !important;
       }
      &::before {
        background: transparent;
        color: $secondary;
        font-weight: 700;
        border-radius: 50%;
        font-size: 18px;
        font-weight: regular;
        margin-left: -20px;
        padding: 0;
        position: absolute;
      }
      ul.list{
        @include font1;
        br{
          display: none;
        }
        li{
          line-height: 1.5;
          list-style-type:none; 
          padding-left: 20px;
          position: relative;
          &::before{
            content: "\f0da";
            margin-right: 5px;
            position: absolute;
            top: 6px;
            margin-left: -20px;
            box-sizing: border-box;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            transition: 0.4s;
            font-size: 13px;
            color: $secondary;
          }
          // &:before {
          //   content: "•"; 
          //   color: $principal;
          //   width: 30px;
          //   margin-left: -30px;
          //   font-size: 18px;
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   position: absolute;
          //   height: 30px;
          //   margin-right: 0;
          // }  
          ul{
            padding: 0;
            li{
              padding-left:35px;
               &::before{
                color: $secondary !important;
              }
            }
          }   
        }
      } 
    }
  }
  ul.list{
    @include font1;
    br{
      display: none;
    }
    li{
      line-height: 1.5;
      list-style-type:none; 
      padding-left: 15px;
      position: relative;
      @include font1;
      font-size: 18px;
      &::before{
        content: "\f0da";
        margin-right: 5px;
        position: absolute;
        top: 6px;
        margin-left: -20px;
        box-sizing: border-box;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        transition: 0.4s;
        font-size: 13px;
        color: $secondary;
      }
      // &:before {
      //   content: "•"; 
      //   color: $principal;
      //   width: 30px;
      //   margin-left: -30px;
      //   font-size: 18px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   position: absolute;
      //   height: 30px;
      //   margin-right: 0;
      // }
      ul{
        padding: 0;
        li{
          padding-left:35px;
           &::before{
            color: $secondary;
          }
        }
      }     
    }
    &.list-events{
      li{
        p a, p{
          color: $principal;
          font-weight: 400;
        }
        &::before{
          content: "";
          background:url("../images/arrow-list.png");
          background-size: auto contain;
          background-position: center;
          height: 15px;
          width: 15px;
          background-repeat: no-repeat;
          position: relative;
          margin-left: -15px;
        }
      }
    }
  }
  // .table-responsive{
  //   border-radius: 8px 8px 0 0;
  //   .table{
  //     border: 1px solid #d5d5d5;
  //     @include font1;

  //     tr{
  //       text-align: center;
  //       background-color: transparent;
  //       font-size: 18px;
  //       @include font1;
  //       th{
  //         text-align: center;
  //         background:$principal;
  //         color:#fff;
  //         font-weight: 900;
  //         padding:10px 0;
  //         border: none;
  //         text-transform: uppercase;
  //         &:hover{
  //           background:$dark-principal;
  //         }
  //       }
  //       &:nth-child(even){
  //         td{
  //           border: none;
  //           background: #fff;
  //           font-weight: 400;
  //           padding:10px 0;
  //           color: #404040;
  //         }
  //       }  
  //       &:nth-child(odd){
  //         td{
  //           border: none;
  //           background: #f4f4f4;
  //           color: #404040;
  //           padding:10px 0;
  //         }
  //       }
  //     }
  //   }
  // }

  .table-responsive{
    table{
      &.table{
        tbody{
          @include font1;
          tr.info{
            background: transparent;
            &:hover{
              background-color: transparent;
            }
            th{
              background: transparent;
              color: $principal;
              font-size: 22px;
              padding: 10px 25px;
              border: none;
              border-bottom: 2px solid $secondary;
            }
          }

          tr{
            &:hover{
              background: $secondary;
              td{
                a{
                  color: $light-text;
                }
              }
            }
            td{
              border: none;
              padding: 10px 25px;
              a{
                font-size: 17px;
                color: $text;
              }
            }
          }
        }
      }
    }
  }

  .pmpro_asterisk{
    color: $secondary !important;
  }

  .pmpro_checkout-fields{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  label{
    font-size: 18px;
    font-weight: 500 !important;
    @include font1;
    color: #222222;
    width: auto;
    margin-right: 25px;
  }
  input,textarea,select{
    height: 50px;
    padding: 10px !important;
    background: transparent;
    border:1px solid #dbdbdb;
    box-shadow:none;
    color: $principal;
    border-radius: 5px;
    outline: none;
    &:active,&:focus{
      box-shadow:0 0 4px rgba(0,0,0,.2);
      outline: none;
      border-color: $secondary;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: 1;
      color: $principal;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: 1;
      color: $principal;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: 1;
      color: $principal;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: 1;
      color: $principal;
    }
  }
  .gfield_checkbox{
    label {
    &::before{
      content:"";
      height: 15px;
      width: 15px;
      display: inline-block;
      background-image: #f6f6f6;
      margin-right: 10px;
      }
    }
    input[type="checkbox"]:checked + label{
    &::before{
    background-image: #f6f6f6;
    }
    }
    li{list-style-type: none;}
  }
  select{
    background: $light-text url("../images/select-arrow.png");
    background-size: auto 100%;
    background-position: 95% center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px !important;
    padding-right: 45px !important;
    border:1px solid #dbdbdb;
    box-shadow:none;
    color: $principal;
    border-radius: 5px;
    outline: none;
    &:active,&:focus{
      box-shadow:0 0 4px rgba(0,0,0,.2);
      outline: none;
      border-color: $secondary;
    }
  }
  textarea{
    height: 100px;
    resize:none;
    max-width: 100%;
  }
  #message{
    background: #f6f6f6;
    border:1px solid #dbdbdb;
    color: $principal;
  }
  input[type="checkbox"],input[type="radio"]{
    height: 15px;
  }
   input[type="submit"]{
      @include font2;    
      background: $light-text;
      border-radius: 0px;
      color: $secondary !important;
      border: 2px solid $secondary;
      display: inline-block;
      font-size: 18px;
      letter-spacing: 1px;
      margin:15px auto; 
      padding: 10px 20px !important;
      font-weight: 700;
      position: relative;
      text-align: center;
      text-decoration: none !important;
      text-transform: uppercase;
      transition:0.4s;
      outline: none;
      height: auto;
      &:hover,&:focus,&:active{
        background:$dark-secondary;
        border: 2px solid $dark-secondary;
        color: $light-text !important;
        text-decoration: none;
      }

   }
   button{
      background: $principal;
      color: #fff;
      padding: 15px 10px;
      border:none;
      transition:0.3s;
      height: 50px;
      outline: none;
      &:hover{
        background:$dark-principal;
        color: $principal;
      }
   }

   #tribe-events .tribe-events-button, .single_job_listing .application .application_button{
      @include font2;    
      background: $light-text;
      border-radius: 0px;
      color: $secondary !important;
      border: 2px solid $secondary;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 10px 20px !important;
      font-weight: 700;
      text-transform: uppercase;
      height: auto !important;
      &:hover,&:focus,&:active{
        background:$dark-secondary;
        border: 2px solid $dark-secondary;
        color: $light-text !important;
        text-decoration: none;
      }
   }

   #loginform{
    p{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      #wp-submit{
        margin-left: 0;
      }
    }
    & + strong{
      a{
        color: $secondary !important;
      }
    }
   }
  
  .honeycombs .sc_team_member .sc_team_member_name, #sc_our_team .sc_team_member_jobtitle{
    color: $light-text;
    width: 70%;
    margin: auto;
  }

  .img-box{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
    .left-side{
        background-size: cover;
        background-repeat: no-repeat;
        width: 45%;
        background-position: center;
    }
    .right-side{
      width: 55%;
      margin-left: 15px;
      h2{
        font-weight: 700;
        color:$principal;
        font-size: 25px;
        margin-bottom: 25px;
        text-transform: uppercase;
      }
      p{
        font-size: 18px;
      }
      a.btn-5{
        span{
          color: $text;
        }
      }
    }
  }

  .single-article{
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 30px;
    .img-wrap{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 2px 4px 18px -4px #000000;
      height: auto;
    }
    .right-side{
      h2{
        font-weight: 800;
        color:$principal;
        font-size: 23px;
        margin-bottom: 22px;
        text-transform: none !important;
      }
      p{
        font-size: 18px;
      }
      // a.btn-5{
      //   span{
      //     color: $text;
      //   }
      // }
    }
  }

  .carousel-img{
    .flex-container{
      text-align: center;
      .content-item{
        width: 20%;
        height: auto;
        margin: 15px 15px;
        a{
          width: 100%;
          height: 100px;
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
          position: relative;
        }
      }
    }
    
  }
  .social-bar{
    padding-top: 45px;
    .content-wrap{
      display: flex;
      p{
        margin: 15px 5px;
        font-weight: 700; 
        color: $principal !important;
      }
      i{
        color: $principal;
        margin: 17px 10px;
      }
    } 
  }

}

.tap-wrap{
  display: flex;
  align-items: center;
  margin: 25px 0;
  .title-tap{
    span{
      font-size: 18px;
      @include font1;
      font-weight: 700;
      &.blue{
        color: $principal;
      }
      &.purple{
        color: $dark-tertiary;
      }
    }
  }
  .tab-list{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      li{
        margin: 10px;
        span{
          font-size: 18px;
          @include font1;
          font-weight: 700;
          padding: 5px;
          display: block;
          &.red{
            background: $secondary;
            color: $light-text;
          }
          &.yellow{
            background: $tertiary;
            color: $principal;
          }
        }
      }
    }
  }
}

.content-tabs{
  transition: 0.4s;
  ul.nav.nav-tabs{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    position: relative;
    border: none;
    transition: 0.4s;
    justify-content: flex-start;

    &:before, &:after{
      display: none;
    }


    li{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      background: $cuaternary;
      border-radius: 3px 3px 0 0;
      transition: 0.4s;

      a{
        font-size: 22px;
        @include font1;
        font-weight: 700;
        border-radius: 0;
        color: #7a7a7a;
        background: transparent;
        border: none;
        padding: 18px 22px;
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
      }

      &.active{
        background: $principal;
        a{
          color: $light-text;
        }
      }
    }
  }
  .tab-content{
    position: relative;
    background: $principal;
    color: $light-text;
    transition: 0.4s;
    border-radius: 3px;


    .tab-pane{
      padding: 40px 20px;
      position: relative;
      transition: 0.4s;
      
      .content-wrap{
        grid-gap: 30px;
      }

      .single-box{
        text-align: center;
      }

      .img-wrap{
        height: 130px;
        margin-bottom: 15px;
        a{
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      h4{
        margin-top: 0;
        a{
          @include font1;
          font-size: 18px;
          font-weight: 700;
          color: $light-text;
        }
      }
    }
  }
}

.mdf_taxonomy_child_container img{
  margin: 0;
}

.iframe-wrap{
  border-radius: 3px;
  border: 1px solid #bcbcbc;
  overflow: hidden;
  margin: 25px 0;
  transition: 0.4s;
}
@include mediaqueries(1440max) {
   
}
@include mediaqueries(1370max) {
  
}
@include mediaqueries(1200max) {
  
}
@include mediaqueries(1024max) {
  
}
@include mediaqueries(991max) {
  .interior .side-direction-left {
    padding-right: .5rem;
  }

  .interior-top h1{
    font-size: 20px;
  }

} 
@include mediaqueries(767max) {
  
}
@media screen and (max-width: 600px) and (orientation: portrait){
  .tap-wrap {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .tap-wrap .title-tap{
    margin-bottom: 15px;
  }
  .content-tabs ul.nav.nav-tabs {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
  }
  .content-tabs ul.nav.nav-tabs li {
    border-radius: 0;
    margin-right: 0;
  }
  .interior-top .subtitle {
    margin-bottom: 50px;
  }.interior-top.interior-top-projects .content-wrap {
    width: 100%;
  }
  .mdf_input_container{
    select{
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) and (orientation: landscape){
  .tap-wrap {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .tap-wrap .title-tap{
    margin-bottom: 15px;
  }
  .content-tabs ul.nav.nav-tabs {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
  }
  .content-tabs ul.nav.nav-tabs li {
    border-radius: 0;
    margin-right: 0;
  }
  .interior-top .subtitle {
    margin-bottom: 50px;
  }
  .interior-top.interior-top-projects .content-wrap {
    width: 100%;
  }
  .mdf_input_container{
    select{
      width: 100%;
    }
  }
}


@include mediaqueries(480max) {
  .tap-wrap .tab-list ul li span{
    font-size: 13px;
  }

  .filter-wrap  .mdf_input_container_block{
    width: 100%;
  }
  .content-tabs ul.nav.nav-tabs li a{
    font-size: 20px;
  }
  .interior .single-article {grid-template-columns: auto;
    text-align: center;
  }
  .interior .single-article .right-side h2 {
    text-align: center;
  }
  .interior .single-article {
    grid-template-columns: auto;
    grid-auto-rows: 1fr;
  }
  .interior blockquote {
    font-size: 16px;
    padding: 35px 20px;
    &:before, &:after{
      display: none;
    }
  }

  .interior-top-member{
    min-height: 350px !important;
  }

  .interior-top.interior-top-member .content-wrap {
    width: 100%;
  }

  .interior {
    font-size: 13px;
    line-height: 1.5em;
    
    h1{
      font-size:22px;
    }
    h2{
      font-size:20px;
    }
    h3{
      font-size:19px;
    }
    h4{
      font-size:18px;
    }
    h5{
      font-size:16px;
    }
    h6{
      font-size:14px;
    }
    p{
      font-size: 13px;
      line-height: 1.5em;
    }
    blockquote{
      font-size: 13px;
      line-height: 1.5em;
    }

    ol li, ul.list li{
      font-size: 13px;
      line-height: 1.5em;
    }

    label{
      font-size: 14px;
    }

    .single-article .right-side p{
      font-size: 13px;
      line-height: 1.5em;
    }
  }
  .interior-top{
    h1{
      font-size: 30px !important;
      margin-top: 120px !important;
    }
    .subtitle{
      font-size: 16px;
    }
    min-height: 280px;
  }

  a, span, button{
    &.btn-1, &.btn-2, &.btn-3, &.btn-4, &.btn-5, &.btn-6, &.btn-7, &.btn-8, &.btn-9, &.btn-10, &.btn-11, &.btn-12, &.btn-13, &.btn-14, &.btn-15{
      font-size: 13px !important;
      min-width: unset;
      &:after{
        font-size: 13px !important;
      }
    }
  }
  
} 
@include mediaqueries(360max) {
}
@include mediaqueries(320max) {
  
}

/*END INTERIOR PAGE-------------------------------------------------------------------------------------------*/