.pagination{
	.nav-links{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		a{
			min-width:50px;
			min-height: 40px;
			margin: 0;
			color: $text;
			@include font3;
			background: transparent;
			transition: 0.4s;
			padding: 0;
			text-align: center;
			text-decoration: none;
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			&:before{
				content: "";
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: transparent;
				position: absolute;
				left: 50%;
				top: 50%;
				@include center(-50%, -50%);
				z-index: -2;
			}
			&:hover{
				text-decoration: none;
				color: $light-text;
				&:before{
					background: $secondary;
				}
			}
		}
		span{
			color:$principal;
		}
		.current{
			background: transparent;
			padding: 0;
			min-width:50px;
			min-height: 40px;
			margin: 0;
			color: $light-text;
			@include font4;
			text-align: center;
			text-decoration: none;
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			&:before{
				content: "";
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: $secondary;
				position: absolute;
				left: 50%;
				top: 50%;
				@include center(-50%, -50%);
				z-index: -2;
			}
		}
		.next,.prev{
			&:hover{
			}
		}
	}
}

.navigation{
  text-align: center;
  ol.tw-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li{
    	padding: 0;
      span.current{
	      display: inline-block;
				background: transparent;
				padding: 8px 5px;
				min-width:50px;
				margin: 0 10px;
				color: $light-text;
				@include font4;
				text-align: center;
				text-decoration: none;
				position: relative;
				z-index: 2;
				&:after{
					content: "";
					display: block;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					background: $secondary;
					position: absolute;
					left: 50%;
					top: 50%;
					@include center(-50%, -50%);
					z-index: -2;
				}
      }
      a{
				display: inline-block;
				min-width:50px;
				//margin: 0 10px 25px;
				border-radius: 5px;
				color: $text;
				@include font3;
				background: transparent;
				transition: 0.4s;
				padding: 8px 5px;
				text-align: center;
				text-decoration: none;
				position: relative;
				z-index: 2;
				&:before{
					content: "";
					display: block;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					background: transparent;
					position: absolute;
					left: 50%;
					top: 50%;
					@include center(-50%, -50%);
					z-index: -2;
				}
				&:hover{
					text-decoration: none;
					color: $light-text;
					&:before{
						background: $secondary;
					}
				}
			}
      &:before{
        display: none;
      }
    }
  }
}

.bsearch_footer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	b{
		background: transparent;
		padding: 8px 5px;
		min-width:50px;
		margin: 0 10px;
		color: $light-text;
		@include font4;
		text-align: center;
		text-decoration: none;
		position: relative;
		z-index: 2;
		&:after{
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: $secondary;
			position: absolute;
			left: 50%;
			top: 50%;
			@include center(-50%, -50%);
			z-index: -2;
		}
	}
	a{
		min-width:50px;
		//margin: 0 10px 25px;
		border-radius: 5px;
		color: $text !important;
		@include font3;
		background: transparent;
		transition: 0.4s;
		padding: 8px 5px;
		text-align: center;
		text-decoration: none;
		position: relative;
		z-index: 2;
		&:before{
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: transparent;
			position: absolute;
			left: 50%;
			top: 50%;
			@include center(-50%, -50%);
			z-index: -2;
		}
		&:hover{
			text-decoration: none;
			color: $secondary !important;
			// &:before{
			// 	background: $secondary;
			// }
		}
	}
}