/*START Sign Up--------------------------------------------------*/
.sign-up-widget{
  margin-top: 0px; 
  padding: 0;
  position: relative;
  .gform_title{
    display: none;
  }

  .gform_confirmation_wrapper {
    .gform_confirmation_message{
      color: $light-text;
    }
  }
  .gform_wrapper{

    form{
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 30px;
    }
    
    .gform_body{
      ul.gform_fields{
        padding-left: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        li.gfield, li{
          list-style-type: none !important;
          padding: 0 !important;
          margin-top: 0 !important;
          margin-right: 0px;
          flex-basis: 100%;

          // &:nth-child(1){
          //   flex-grow: 0;
          // }
          // &:nth-child(2){
          //   flex-grow: 1;
          // }
          .gfield_label{
            display: none;
          }
          .ginput_container{
            margin:0 !important;
            input{
              background: $light-text;
              border: 1px solid $light-text;
              border-radius: 3px;
              color: $dark-cuaternary;
              @include font1;
              padding: 8px 15px !important;
              font-size: 18px !important;
              width: 100%;
              height: 48px;
              font-weight: 700;
              text-align: left;
              //box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: $dark-cuaternary;
                  font-weight: 700;
                  opacity: 1;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color: $dark-cuaternary;
                  font-weight: 700;
                  opacity: 1;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color: $dark-cuaternary;
                  font-weight: 700;
                  opacity: 1;
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color: $dark-cuaternary;
                  font-weight: 700;
                  opacity: 1;
                }
              
            }
          }
        }
      }
    }
    .gform_footer{
      width: auto;
      display: inline-block;      
      text-align: left;
      margin: 0;
      padding:0;
      margin-left: 0px;
      vertical-align: bottom;
      .gform_button{
        //background: $tertiary url("../images/select-arrow-s.png");
        background: $light-text;
        color: $light-tertiary;
        height: 48px;
        width:100%;
        border: none;
        text-align: center;
        // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
        @include font1;
        font-weight: 700;
        padding: 8px 20px;
        //padding-right: 30px;
        text-transform: none;
        transition:0.4s;
        font-size: 20px;
        letter-spacing: 0px;
        text-indent: 0px;
        border-radius: 3px;
        &:hover{
          //background: $principal url("../images/select-arrow-s-h.png");
          background: $principal;
          color: $secondary;
          background-size: auto 90%;
          background-position: 95% 90%;
          background-repeat: no-repeat;
          text-decoration: none;
          //color: $tertiary;
          //padding-right: 40px;
        }
      }
    }
    .gfield_description{
      display: none;
    }
  }

  .id_187f652e-29d2-41fb-afd5-de7ecf2eebe1{
    .sli-content-pane{
      background-color: transparent !important;
      .sli-element{
         font-family: 'Roboto', sans-serif !important;
         #id_86c70fae-3b68-421e-b4d8-d526c0186544{
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          grid-gap: 15px;

          #id_c9307303-1aa7-46cb-845b-3e7f43f9eac4{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            grid-gap: 15px;

            #id_f10020c1-720d-4096-9c73-a9f2059dd4ed{
              .sli-form-field{
                label{
                  display: none;
                }
                input{
                  background-color: transparent !important;
                  border: none !important;
                  border-bottom: 2px solid $light-text !important;
                  margin: 0;
                  padding: 8px !important;
                  color: $light-text !important;
                  text-align: center !important;
                  font-weight: 400;
                  font-size: 18px !important;
                  font-family: 'Roboto', sans-serif !important;
                  font-style: italic;
                  width: 100%;
                  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $light-text !important;
                    font-weight: 400;
                    opacity: .6;
                  }
                  &::-moz-placeholder { /* Firefox 19+ */
                    color: $light-text !important;
                    font-weight: 400;
                    opacity: .6;
                  }
                  &:-ms-input-placeholder { /* IE 10+ */
                    color: $light-text !important;
                    font-weight: 400;
                    opacity: .6;
                  }
                  &:-moz-placeholder { /* Firefox 18- */
                    color: $light-text !important;
                    font-weight: 400;
                    opacity: .6;
                  }
                }
              }
            }
          }

          #id_70424dff-da31-4acd-bfd1-d43607090b5f{
            .sli-button{
              background-color: $light-text !important;
              border-color: $light-text !important;
              border-radius: 0px;
              width: 100%;
              padding: 10px 20px;
              color: $secondary;
              font-size: 17px;
              font-weight: 600;
              font-family: 'Poppins', sans-serif !important;
              text-align: center !important;
              text-transform: uppercase;
              &:hover{
                color: $light-text;
                text-decoration: none !important;
                background-color: $cuaternary !important;
                border-color: $cuaternary !important;
              }
            }
          }
        }
      }
    }
  }
}


@include mediaqueries(1440max) {
  
}
@include mediaqueries(1370max) {
  
}
@include mediaqueries(1200max) {
  
}
@include mediaqueries(991max) {
  
 .sign-up-widget h2 {
    text-align-last: center;
  }
  .sign-up-widget h3 {
    text-align: center;
  }
  .sign-up-widget .gform_wrapper .gform_body ul.gform_fields li.gfield .ginput_container input, .sign-up-widget .gform_wrapper .gform_body ul.gform_fields li .ginput_container input {
    //border-radius: 5px;
  }
  .sign-up-widget .gform_wrapper .gform_footer {
    display: block;
    margin: 0 auto;
  }
  .sign-up-widget {
    justify-content: center;
  }

}
@include mediaqueries(767max) {
  .sign-up-widget .gform_wrapper {margin: 0px 0 25px;}
}
@include mediaqueries(480max) {
  .sign-up-widget .id_187f652e-29d2-41fb-afd5-de7ecf2eebe1 .sli-content-pane .sli-element #id_86c70fae-3b68-421e-b4d8-d526c0186544 #id_c9307303-1aa7-46cb-845b-3e7f43f9eac4 {
    grid-template-columns: auto;
  }
  .sign-up-widget .id_187f652e-29d2-41fb-afd5-de7ecf2eebe1 .sli-content-pane .sli-element #id_86c70fae-3b68-421e-b4d8-d526c0186544 {grid-template-columns: auto;
    grid-gap: 40px;
  }
  .sign-up-widget .gform_wrapper form {
    grid-template-columns: auto;
  }
  .sign-up-widget .gform_wrapper .gform_body ul.gform_fields li.gfield .ginput_container input, .sign-up-widget .gform_wrapper .gform_body ul.gform_fields li .ginput_container input {
    text-align: center;
  }
}
@include mediaqueries(320max) {
  
}
/*END Sign Up------------------------------------------*/