/*START Sponsors Widget--------------------------------------------------*/
.sponsor-widget{
  padding: 40px 0px 60px;

  #sponsors-tiled-home-slider{
    .carousel-control{
      display: none;
    }
  }

  .tiled-sponsors{
    .content-wrap{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px;
      .single-box{
        .img-wrap{
          height: 100px;
          a{
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: 0.4s;
            // -webkit-filter: grayscale(100%);
            //background-color: #efefef;
            //background-blend-mode: darken;
            &:hover{
              // -webkit-filter: grayscale(0%);
            }
          }
        }
      }
    }
  }

  #sponsors-home-slider{

    .carousel-inner{
      width: 80%;
      margin: 0 auto;
    }
    .content-wrap{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 30px;
    }

    .img-wrap{
      background-size: contain;
      background-position: center;
      height: 90px;
      a{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }


  // #sponsors-slider{
  //   .carousel-inner{
  //     width: 100%;
  //     // width: 90%;
  //     margin: 0 auto;
  //       .content-wrap{
  //         display: grid;
  //         justify-content: center;
  //         align-content: center;
  //         align-items: center;
  //         grid-template-columns: repeat( 4, minmax(calc(25% - 30px), 1fr) );
  //         grid-gap: 15px;
  //         .single-box{
  //           .img-wrap{
  //             width: 100%;
  //             height: 100px;
  //             // border-radius: 50%;
  //             // border: 3px solid $tertiary;
  //             overflow: hidden;
  //             a{
  //               display: block;
  //               width: 100%;
  //               height: 100%;
  //               background-position: center;
  //               background-size: contain;
  //               -webkit-filter: grayscale(100%);
  //               background-repeat: no-repeat;
  //               transition: 0.4s;
  //               //background-color: #efefef;
  //               background-blend-mode: darken;
  //               &:hover{
  //                 -webkit-filter: grayscale(0%);
  //               }
  //             }
  //           }
  //         }
  //       }
  //   }
  //   .carousel-control{
  //      opacity: 1;
  //      transition:0.4s;
  //      display: none;
  //      span{
  //        background: transparent url("../images/arrow-left-1.png") no-repeat;
  //        background-position: 50% 50%;
  //        background-size: auto;
  //        border-radius: 50%;
  //        height: 52px;
  //        text-align: center;
  //        text-shadow: none;
  //        width: 52px;
  //        transition: 0.4s;
  //        &:before{
  //          @include center(-50%,-55%);
  //          display: none;
  //          left:50%;
  //          position:absolute;
  //          top:50%;
  //        }      
  //        &:hover{
  //         background: transparent url("../images/arrow-left-2.png") no-repeat;
  //          background-position: 50% 50%;
  //          background-size: auto;
  //        }
  //      }
  //      &.left,&.right{
  //        background: transparent;
  //        width: 50px;
  //        height: 50px;
  //        top: calc(50% - 25px);
  //      }    
  //      &.right span{
  //        @include rotate(180deg);        
  //     }  
  //   }
  // }


}

.sponsor-widget.sponsor-widget-interior{
  padding: 40px 0px 60px;
  #sponsors-slider{
    .carousel-inner{
      width: 90%;
      margin: 0 auto;
      .content-wrap{
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-template-columns: repeat( 4, minmax(calc(25% - 30px), 1fr) );
        grid-gap: 15px;
        width: 90%;
        margin: 0 auto;
        .single-box{
          .img-wrap{
            width: 100%;
            height: 100px;
            // border-radius: 50%;
            // border: 3px solid $tertiary;
            overflow: hidden;
            a{
              display: block;
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: contain;
              -webkit-filter: grayscale(100%);
              background-repeat: no-repeat;
              transition: 0.4s;
              //background-color: #efefef;
              background-blend-mode: darken;
              &:hover{
                -webkit-filter: grayscale(0%);
              }
            }
          }
        }
      }
    }
    .carousel-control{
       opacity: 1;
       transition:0.4s;
       display: block;
       span{
         background: transparent url("../images/arrow-spon-inter.png") no-repeat;
         background-position: 50% 50%;
         background-size: auto;
         border-radius: 0%;
         height: 52px;
         text-align: center;
         text-shadow: none;
         width: 52px;
         transition: 0.4s;
         display: block;
         &:before{
           @include center(-50%,-55%);
           display: none;
           left:50%;
           position:absolute;
           top:50%;
         }      
         &:hover{
           //background: transparent url("../images/arrow-spon-inter-h.png") no-repeat;
           // background-position: 50% 50%;
           // background-size: auto;
           background-color: $tertiary;
         }
       }
       &.left,&.right{
         background: transparent;
         width: 50px;
         height: 50px;
         top: calc(50% - 25px);
       }    
       &.right span{
         @include rotate(180deg);        
      }  
    }
  }
}    
  
/*END Sponsors Widget------------------------------------------*/


@include mediaqueries(991max) {
  .sponsor-widget {
      padding: 40px 0px 40px;
      overflow: hidden;
  }
}


@include mediaqueries(767max) {
  
}
@media screen and (max-width: 600px) and (orientation: portrait){
  .sponsor-widget .tiled-sponsors .content-wrap {
    grid-template-columns: 1fr;
  }
  .sponsor-widget #sponsors-slider .carousel-inner .item .content-wrap .single-box {
    flex-basis: 100%;
  }
  .sponsor-widget #sponsors-home-slider .content-wrap{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape){
  .sponsor-widget .tiled-sponsors .content-wrap {
    grid-template-columns: 1fr;
  }
  .sponsor-widget #sponsors-slider .carousel-inner .item .content-wrap .single-box {
    flex-basis: 100%;
  }
  .sponsor-widget #sponsors-home-slider .content-wrap{
    grid-template-columns: 1fr;
  }
}
@include mediaqueries(480max) {

}
@include mediaqueries(320max) {

}