/*Start GRID View*/
.staff-template{
  .flex-container{
     /*Flex*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    float: none;
    .flex-item{
      flex-basis: calc(260px - 15px);
    }
  }
}
.team-grid-box{
  margin-bottom: 40px;
  text-align: center;
  background-color:$text;
  .img-wrap{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid $secondary;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
    width: 100%; height: 200px;
    z-index: 0;
    .hover-effect-link{
      @include rotate(45deg);
      background: $principal;
      bottom: -60px;
      height: 150px;
      opacity: 0;
      position: absolute;
      right: -30px;
      transition: 0.4s;
      width: 90px;
      z-index: 1;
      .fa-external-link{
        @include rotate(-45deg);
        color: $light-text;
        font-size: 20px;
        position: absolute;
        left: 20%;
        bottom: 44%;
        z-index: 2;
      }
    }
    &:hover{
      transition: opacity 0.4s;           
      .hover-effect-link{
        transition: opacity 0.4s;
        opacity: 1;
      }     
    } 
  } 
  .team-info{   
    margin: 10px auto 0;
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    h3,span, p, a{        
      background: transparent;
      color: $light-text;
      display: block;
      line-height: 1em;
      margin: 0 0 10px;
      text-align: center;
    }
    h3{
      font-size: 22px;
      font-weight: bold;
      margin-top: 0!important;
      a{
        text-decoration: none;
      }
      &:hover{
        a{
          text-decoration: underline;
        }
      }
    }
    span{
      font-size: 16px;
      color: $light-text;
    }          
    .social-networks{
      position: relative;     
      font-size: 0;
      line-height: 1em;
      margin: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
       li{
        display: inline-block;
        background: $light-secondary;
        margin: 0 10px 0 0!important;
        vertical-align: middle;
        a{
          border-radius: 0;
          border: none;
          color: #fff;
          display: inherit;
          height: 30px;
          margin: 0;
          position: relative;
          transition:0.4s;
          width: 30px;
          i{
            @include center(-50%,-50%);
            font-size: 18px;
            left:50%;
            position: absolute;
            top:50%;
          }
          &:hover{
            background: transparent;
            color: $secondary;
            box-shadow: none;
            i{
              background: transparent;
              text-shadow: none;              
            }
          }
        }
      } 
    }
  } 
}/*END Grid View*/