
.team-bios-widget{

  &.overlay{
      z-index: 300;
    &.active{
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: transparentize(#000, 0.5);
    }
  }

  .content-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    justify-content: space-between;
  }

  .Grid-Boxes-with-Side-Panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .single-box{
      //margin-bottom: 15px;
      .img-wrap{
        display: flex;
        align-items: flex-end;
        transition: 0.6s; 
        height: 200px;
        width: 200px;
        margin: 0 auto;
        a{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border:  3px solid $light-text;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $light-text;
          position: absolute;
          top: -50%;
          left: 50%;
          @include center(-50%, -50%);
          transition: 0.6s; 
          &:hover{
            background: $light-text;
            color: $principal;
          }
        }
      }
      .info-wrap{
        padding-bottom: 15px;
        position: relative;
        left: 0%; 
        transition: 0.6s;
        span.name, span.position {
          display: inline-block;
          color: $light-text;
          font-size: 14px;
          padding: 5px 10px;
          background: transparentize($principal, 0.2);
        }
        span.position {
          margin-top: 10px;
          display: block;
        }
      }
      .text-wrap{
        margin-top: 50px;
        text-align: center;
        span.name, span.position{
          color: $principal;
          @include font2;
          font-size: 24px;
          font-weight: 500;
          display: block;
          margin-bottom: 25px;
        }
        span.position{
          font-size: 18px;
        }
      }
      &:hover{
        .img-wrap{
          a{
            top: 50%;
            text-decoration: none;
          }
        }
        .info-wrap{
          left: -100%;
        }
      }
    }
    &.Circular-Grid-Boxes-with-Side-Panel{
      .img-wrap{
        border-radius: 50%;
        .info-wrap{
          position: absolute;
          top: 50%;
          @include center(-0%, -50%);
          transition: 0.6s; 
        }
      }
    }
  }

  .Stacked-Layout-with-Side-Panel{
    display: grid;
    grid-gap: 50px;
    .single-box{
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-gap: 30px;
      border-bottom: 2px solid $text;
      padding-bottom: 30px;
      .side-left{
        text-align: center;
        .img-wrap{
          margin-bottom: 25px;
          a{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border:  3px solid $light-text;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light-text;
            position: absolute;
            top: -50%;
            left: 50%;
            @include center(-50%, -50%);
            transition: 0.6s; 
            &:hover{
              background: $light-text;
              color: $principal;
            }
          }
        }
        span.name, span.position{
          color: $principal;
          @include font2;
          font-size: 24px;
          font-weight: 500;
          display: block;
          margin-bottom: 15px;
        }
        span.position{
          border-top: 1px dashed $text;
          padding-top: 15px;
          font-size: 18px;
        }
      }
      .side-right{
        .text-wrap{
          h3{
            color: $principal;
            font-size: 25px;
            margin-top: 0;
            font-weight: 700;
            display: block;
            margin-bottom: 25px;
          }
          p{
            font-size: 18px;
            color: $text;
            @include font1;
            a{
              font-weight: 700;
              color: $secondary;
            }
          }
          .quote{
            position: relative;
            color: $text;
            font-size: 24px;
            font-style: italic;
            display: block;
            margin-bottom: 10px;

             &::before{                  
              content: "\f10d";
              box-sizing: border-box;
              display: inline-block;
              position: relative;
              margin-right: 10px;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              transition: 0.4s;
              color: $principal;
              font-size: 30px;
            }
          }
          ul.list{
            @include font1;
            color: $text;
            padding: 0 ;
            br{
              display: none;
            }
            li{
              line-height: 1.6em;
              list-style-type:none; 
              padding-left: 15px;
              position: relative;
              @include font1;
              font-size: 18px;
              color: $light-text;
              &::before{
                content: "\f105";
                margin-right: 15px;
                margin-left: -15px;
                box-sizing: border-box;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                transition: 0.4s;
                color: $secondary;
              }
              a{
                color: $secondary;
                font-weight: 400;
                font-size: 18px;
                @include font1;
                text-decoration: none;
                &:hover{
                  text-decoration: underline;
                }
              }
              ul{
                padding: 0;
                li{
                  padding-left:35px;
                   &::before{
                    color: $secondary;
                  }
                }
              }     
            }
          }
        }
        .social-box{
          width: auto;
          margin: 0 ;
          position: relative;
          transition: 0.6s; 
          ul.social{
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            li{
              margin: 3px;
              a{
                color: $light-text;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                background: $principal;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0,5s;
                font-size: 13px;
                &:hover{
                  background: $secondary;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      &:hover{
        .img-wrap{
          a{
            top: 50%;
            text-decoration: none;
          }
        }
      }
    }
  }

  .Grid-Boxes-2{
    .content-wrap{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      width: 100%;
    }
    .single-box{
      background: $dark-principal;
      padding-bottom: 20px;
      .img-wrap{
        width: 100%;
        a{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          border: none;
          background: transparent !important;
          border-radius: 0;
          color: $light-text;
          text-decoration: none;


          i{
            z-index: 5;
            position: relative;
            bottom: -15px;
            right: -10px;
            font-size: 0;
            transition: 0.6s;
            &:hover{
              color: $secondary;
            }
          }

          &:before{
            content: "";
            display: block;
            height: 100px;
            width: 100px;
            background: $principal;
            position: absolute;
            right: -100px;
            bottom: -100px;
            transform: rotate(45deg);
            transition: 0.4s;
          }
        }
      }
      .text-wrap{
        padding: 30px 25px 15px;
        span, p{
          display: block;
          color: $light-text;
        }

        .name{
          font-size: 26px;
          font-weight: 600;
          @include font1;
          line-height: 1.087;
          margin-bottom: 10px;
        }

        .position{
          font-size: 20px;
          font-weight: 400;
          @include font1;
          margin-bottom: 50px;
          position: relative;
          line-height: 1.087;

          &:after{
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            border-radius: 3px;
            background: $secondary;
            position: absolute;
            bottom: -20px;
            left: 0;
            transition: 0.4s;
          }
        }

        p{
          font-size: 18px;
        }
      }

      .social-box{
        width: auto;
        margin: 0 auto;
        position: relative;
        transition: 0.6s; 
        ul.social{
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: center;
          li{
            margin: 3px;
            a{
              color: $light-text;
              width: 38px;
              height: 38px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              background:transparent;
              border: 1px solid $light-text;
              display: block;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0,5s;
              font-size: 18px;
              text-decoration: none;
              &:hover{
                background: $light-text;
                color: $dark-principal;
                text-decoration: none;
              }
            }
          }
        }
      }

      &:hover{
        .img-wrap{
          a{
            i{
              bottom: 15px;
              right: 10px;
              font-size: 18px;
            }
            &:before{
              right: -50px;
              bottom: -50px;
            }
          }
        }

        .text-wrap{
          .position{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }

  .Grid-Boxes-with-Pop-Up{
    


    .single-box{
      //margin-bottom: 15px;
      .img-wrap{
        display: flex;
        align-items: flex-end;
        transition: 0.6s; 
        height: 200px;
        width: 200px;
        margin: 0 auto;
        a{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border:  3px solid $light-text;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $light-text;
          position: absolute;
          top: -50%;
          left: 50%;
          @include center(-50%, -50%);
          transition: 0.6s; 
          &:hover{
            background: $light-text;
            color: $principal;
          }
        }
      }
      .info-wrap{
        padding-bottom: 15px;
        position: relative;
        left: 0%; 
        transition: 0.6s;
        span.name, span.position {
          display: inline-block;
          color: $light-text;
          font-size: 14px;
          padding: 5px 10px;
          background: transparentize($principal, 0.2);
        }
        span.position {
          margin-top: 10px;
          display: block;
        }
      }
      .text-wrap{
        margin-top: 50px;
        text-align: center;
        span.name, span.position{
          color: $principal;
          @include font2;
          font-size: 24px;
          font-weight: 500;
          display: block;
          margin-bottom: 15px;
        }
        span.position{
          font-size: 18px;
          border-top: 1px solid #000;
          padding-top: 15px;
        }
      }

      .social-box{
        width: auto;
        margin: 0 auto;
        position: relative;
        transition: 0.6s; 
        ul.social{
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: center;
          li{
            margin: 3px;
            a{
              color: $light-text;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              background: $principal;
              display: block;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0,5s;
              font-size: 13px;
              &:hover{
                background: $secondary;
                text-decoration: none;
              }
            }
          }
        }
      }

      &:hover{
        .img-wrap{
          a{
            top: 50%;
            text-decoration: none;
          }
        }
        .info-wrap{
          left: -100%;
        }
      }
    }
    &.Circular-Grid-Boxes-with-Pop-Up{
      .img-wrap{
        border-radius: 50%;
        .info-wrap{
          position: absolute;
          top: 50%;
          @include center(-0%, -50%);
          transition: 0.6s; 
        }
      }
    }
  }

  .Grid-Circles-with-Single-View{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .single-box{
       margin: 0 auto;
      .img-wrap{
        display: flex;
        align-items: flex-end;
        transition: 0.6s; 
        border-radius: 50%;
        border: 1px solid $light-text;
        box-shadow: 0 0 0 4px #fff, 0 0 0 7px;
        width: 200px;
        height: 200px;
        a.plus{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border:  3px solid $light-text;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $light-text;
          position: absolute;
          top: -50%;
          left: 50%;
          @include center(-50%, -50%);
          transition: 0.6s; 
          &:hover{
            background: $light-text;
            color: $principal;
          }
        }
      }
      .info-wrap{
        //padding-bottom: 15px;
        position: absolute;
        left: 0%; 
        top: 50%;
        @include center(-0%, -50%);
        transition: 0.6s; 
        span.name, span.position {
          display: inline-block;
          color: $light-text;
          font-size: 14px;
          padding: 5px 10px;
          background: transparentize($principal, 0.2);
        }
        span.position {
          margin-top: 0px;
          display: block;
        }
      }
      .social-box{
        width: auto;
        margin: 0 auto;
        position: relative;
        bottom: -50px;
        transition: 0.6s; 
        ul.social{
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: center;;
          li{
            margin: 3px;
            a{
              color: $light-text;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              background: $principal;
              display: block;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0,5s;
              font-size: 13px;
              &:hover{
                background: $secondary;
                text-decoration: none;
              }
            }
          }
        }
      }
      &:hover{
        .img-wrap{
          a{
            top: 50%;
            text-decoration: none;
          }
        }
        .info-wrap{
          left: -100%;
        }
        .social-box{
          bottom: 25px;
        }
      }
    }
  }

  .Grid-Circles-with-Single-View-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .single-box{
       margin: 0 auto;
      .img-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        transition: 0.6s; 
        border-radius: 50%;
        border: 1px solid $light-text;
        box-shadow: 0 0 0 4px #fff, 0 0 0 7px;
        width: 200px;
        height: 200px;
        &:before{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.6s; 
        }
        a{
          opacity: 0;
        }
      }
      .info-wrap{
        //padding-bottom: 15px;
        position: relative;
        z-index: 5;
        span.name, span.position {
          display: inline-block;
          color: $light-text;
          font-size: 16px;
          font-weight: 600;
          //padding: 5px 10px;
          //background: transparentize($principal, 0.2);
        }
        span.position {
          margin-top: 0px;
          font-size: 14px;
          font-weight: 400;
          display: block;
        }
      }
      .social-box{
        width: auto;
        margin: 15px auto 0;
        position: relative;
        transition: 0.6s; 
        opacity: 0;
        ul.social{
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: center;;
          li{
            margin: 3px;
            a{
              color: $light-text;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              background: $principal;
              display: block;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0,5s;
              font-size: 13px;
              &:hover{
                background: $secondary;
                text-decoration: none;
              }
            }
          }
        }
      }
      &:hover{
        a{
          text-decoration: none;
          opacity: 1;
        }
        .img-wrap{
          &:before{
            opacity: .7;
          }
          .social-box, .info-wrap{
            opacity: 1;
          }
        }
      }
    }
  }

  .Grid-Circles-with-Single-Page{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-gap: 30px;
    .single-box{
      .img-wrap{
        display: flex;
        align-items: flex-end;
        transition: 0.6s; 
        // border: 1px solid $light-text;
        // box-shadow: 0 0 0 4px #fff, 0 0 0 7px;
        height: 400px;
        width: 100%;
        a.plus{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border:  3px solid $light-text;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $light-text;
          position: absolute;
          top: -50%;
          left: 50%;
          @include center(-50%, -50%);
          transition: 0.6s; 
          &:hover{
            background: $light-text;
            color: $principal;
          }
        }
      }
      .info-wrap{
        padding-bottom: 15px;
        position: absolute;
        left: 0%; 
        bottom: 0%;
        //@include center(-0%, -50%);
        transition: 0.6s; 
        span.name, span.position {
          display: inline-block;
          color: $light-text;
          font-size: 14px;
          padding: 5px 10px;
          background: transparentize($principal, 0.2);
        }
        span.position {
          margin-top: 10px;
          display: block;
        }
      }
      .social-box{
        width: auto;
        margin: 0 auto;
        position: relative;
        bottom: -50px;
        transition: 0.6s; 
        ul.social{
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: center;;
          li{
            margin: 3px;
            a{
              color: $light-text;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              background: $principal;
              display: block;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0,5s;
              font-size: 13px;
              &:hover{
                background: $secondary;
                text-decoration: none;
              }
            }
          }
        }
      }
      &:hover{
        .img-wrap{
          a{
            top: 50%;
            text-decoration: none;
          }
        }
        .info-wrap{
          left: -100%;
        }
        .social-box{
          bottom: 25px;
        }
      }
    }
  }
  
  .our-team-single{
    .side-left{
      .list-team_member > ul > li{
        margin-bottom: 25px;
      }
      .list-team_member{
        ul{
          list-style: none;
          padding: 0;
          li{
            ul{
              li{
                border-bottom: thin solid $principal;
                padding: 5px 0 5px 0;
                &:last-of-type{
                  border: none;
                }
              }
            }
            span.title-list{
              text-transform: uppercase;
              letter-spacing: .125em;
              color: $text;
              display: inline-block;
              padding: 5px 0 5px 0;
              cursor: pointer;
            }
            a{
              color: $principal;
              &:hover{
                text-decoration: none;
                color: $secondary;
              }
            }
          }
        }
      }
    }
    .side-center{
      padding: 0 30px;
    }
    h1.title{
      font-size: 46px;
      margin: 0 0 0 0;
    }
    p.sub-title{
      font-size: 18px;
      margin: 0 0 0 0;
    }
    hr{
      margin: 10px 0 10px 0;  
      background-color: #ccc;
      border: 0;
      height: 1px;
    }
    .social-box{
      width: auto;
      margin: 0 auto;
      position: relative;
      transition: 0.6s; 
      margin-bottom: 50px;
      ul.social{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        li{
          margin: 3px;
          a{
            color: $light-text;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            background: $principal;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0,5s;
            font-size: 13px;
            &:hover{
              background: $secondary;
              text-decoration: none;
            }
          }
        }
      }
    }
    .profile-picture{
      border-bottom: 5px solid $principal;
      height: 250px;
      width: 250px;
      background-size: cover;
      background-position: center;
      margin: 0 auto 50px;
    }
  }
  .sidebar-Grid-Boxes-with-Pop-Up{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    z-index: 200;
    background: transparentize($text, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    .big-content-wrap{
      width: 900px;
      height: 400px;
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-gap: 30px;
      padding: 30px;
      border-radius: 10px;
      background: $light-text;
      position: relative;
      .info-side-left{
        .img-wrap{
          margin-bottom: 15px;
        }
        .position{
          display: block;
          font-size: 23px;
          font-weight: 700;
          color: $text;
          margin: 15px auto;
        }
        .social-box{
          width: auto;
          margin: 15px auto;
          position: relative;
          transition: 0.6s; 
          margin-bottom: 50px;
          ul.social{
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            li{
              margin: 3px;
              a{
                color: $light-text;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                background: $principal;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0,5s;
                font-size: 13px;
                &:hover{
                  background: $secondary;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      .info-side-right{
        .close-box{
          position: absolute;
          right: 15px;
          top: 15px;
          button.close{
            width: 40px;
            height: 40px;
            color: $text;
          }
        }
        .info-wrap{
          .description{
            height: 350px;
            overflow: scroll;
            h3{
              color: $principal;
              font-size: 25px;
              margin-top: 0;
              font-weight: 700;
              display: block;
              margin-bottom: 25px;
            }
            p{
              font-size: 18px;
              color: $text;
              @include font1;
              a{
                font-weight: 700;
                color: $secondary;
              }
            }
            ul.list{
              @include font1;
              color: $text;
              padding: 0 ;
              br{
                display: none;
              }
              li{
                line-height: 1.6em;
                list-style-type:none; 
                padding-left: 15px;
                position: relative;
                @include font1;
                font-size: 18px;
                color: $light-text;
                &::before{
                  content: "\f105";
                  margin-right: 15px;
                  margin-left: -15px;
                  box-sizing: border-box;
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  transition: 0.4s;
                  color: $secondary;
                }
                a{
                  color: $secondary;
                  font-weight: 400;
                  font-size: 18px;
                  @include font1;
                  text-decoration: none;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                ul{
                  padding: 0;
                  li{
                    padding-left:35px;
                     &::before{
                      color: $secondary;
                    }
                  }
                }     
              }
            }
          }
        }
      }
    }
  }
  .sidebar-Grid-Boxes-with-Side-Panel{
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    width: 400px;
    max-width: 100%;
    background: transparentize($text, 0.1);
    display: grid;
    grid-template-columns: 40px minmax(280px,1fr);
    // z-index: 200;
    .social-box{
      background: $text;
      ul.social{
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        li{
          border-bottom: 1px solid $light-text;
          a{
            color: $light-text;
            width: 40px;
            height: 40px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0,5s;
            &:hover{
              background: $secondary;
              text-decoration: none;
            }
          }
        }
      }
    }
    .bio-wrap{
      overflow: scroll;
      .content-wrap{
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        .box-top{ 
          background: $principal;
          padding: 15px;
          display: grid;
          grid-template-columns: 1fr max-content;
          .name{
            font-size: 30px;
            color: $light-text;
          }
          button.close{
            width: 40px;
            height: 40px;
            color: $light-text
          }
        }
        .img-wrap{
          background-position: top center;
          height: auto;
          padding-bottom: 100%;
        }
        .info-wrap{
          display: flex;
          flex-direction: column;
          .position{
            font-size: 23px;
            font-weight: 700;
            padding: 15px;
            color: $light-text;
          }
          .quote{
            position: relative;
            color: $light-text;
            font-size: 24px;
            font-style: italic;
            padding: 15px;
            display: block;

             &::before{                  
              content: "\f10d";
              box-sizing: border-box;
              display: inline-block;
              position: relative;
              margin-right: 10px;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              transition: 0.4s;
              color: $principal;
              font-size: 30px;
            }
          }
          .description{
            padding: 15px 15px 30px;
            p{
              font-size: 18px;
              color: $light-text;
              @include font1;
              a{
                font-weight: 700;
                color: $secondary;
              }
            }
            ul.list{
              @include font1;
              color: $text;
              padding: 0 ;
              br{
                display: none;
              }
              li{
                line-height: 1.6em;
                list-style-type:none; 
                padding-left: 15px;
                position: relative;
                @include font1;
                font-size: 18px;
                color: $light-text;
                &::before{
                  content: "\f0da";
                  margin-right: 15px;
                  margin-left: -15px;
                  box-sizing: border-box;
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  transition: 0.4s;
                  color: $secondary;
                }
                a{
                  color: $light-text;
                  font-weight: 400;
                  font-size: 18px;
                  @include font1;
                  text-decoration: none;
                }
                ul{
                  padding: 0;
                  li{
                    padding-left:35px;
                     &::before{
                      color: $secondary;
                    }
                  }
                }     
              }
            }
          }
        }
      }
    }
  }
}


.ots-team-view{
  #sc_our_team{
    .dataTables_wrapper {
      .dataTables_length{
        label{
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 15px;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
      }

      .dataTables_filter{
        label{
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 15px;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
        input{
          background: $light-text;
          padding: 15px 15px;
          border: 1px solid #dbdbdb;
          border-radius: 5px;
          font-size: 18px;
        }
      }
    }
  }
}

@include mediaqueries(1200max) {
}
@media screen and (max-width: 1025px) and (orientation: portrait){
}
@media screen and (max-width: 1025px) and (orientation: landscape) {
}
@include mediaqueries(991max) {
  .team-bios-widget .our-team-single .side-center {
    padding: 0;
  }
  .team-bios-widget .our-team-single{
    .col-left{
      order: 3;
    }
    .col-center{
      order: 2;
    }
  }

  //SIDEBAR

  .team-bios-widget .sidebar-Grid-Boxes-with-Side-Panel  {
    .bio-wrap {
      .content-wrap {
        .box-top {
          .name{
            font-size: 25px;
          }
        }
        .img-wrap {
          padding-bottom: 75%;
        }
      }
    }

  }


  //SIDEBAR


  //POP UP

  .team-bios-widget .sidebar-Grid-Boxes-with-Pop-Up .big-content-wrap {
    width: 90%;
    height: 90%;
    padding: 60px 20px 30px;
    grid-template-columns: auto;
    overflow: scroll;
    .info-side-left{
      text-align: center;
      .img-wrap{
        height: 180px;
      }
      .social-box{
        margin-bottom: 10px;
        ul.social{
          justify-content: center;
        }
      }
    }
    .info-side-right{
      .info-wrap {
        .description{
          height: auto;
          overflow: unset;
        }
      }
    }
  }

  .team-bios-widget .Grid-Boxes-2 .content-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  //POP UP
}
@include mediaqueries(767max) {
  .team-bios-widget .Stacked-Layout-with-Side-Panel .single-box {
    grid-template-columns: auto;
    text-align: center;
  }
  .team-bios-widget .Stacked-Layout-with-Side-Panel .single-box .side-right .social-box ul.social {
    justify-content: center;
  }
  .team-bios-widget .content-wrap {
    grid-template-columns: auto;
    justify-content: center;
  }
  .team-bios-widget .Grid-Boxes-with-Side-Panel {
    grid-template-columns: auto;
  }
  .team-bios-widget .Grid-Circles-with-Single-View {
    grid-template-columns: auto;
    justify-content: center;
  }
  .team-bios-widget .Grid-Circles-with-Single-Page {
    grid-template-columns: auto;
  }
  .sponsor-widget.sponsor-widget-interior #sponsors-slider .carousel-inner .content-wrap {
    grid-template-columns: 1fr;
  }
  .team-bios-widget .Grid-Circles-with-Single-View-2 {
    grid-template-columns: auto;
  }
}
@include mediaqueries(480max) {
  .team-bios-widget p{
    font-size: 12px !important; 
  }
  .team-bios-widget .Grid-Boxes-2 .content-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}